#inner {
  animation: blurAnimation 9s ease-in;
}

.tile {
  float: left;
  display: block;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.outerFullScreen {
  cursor: none;
  overflow: hidden;
  z-index: 20;
  background-color: black;
}

.outerNotFullScreen {
  overflow: hidden;
  z-index: 1;
  background-color: black;
}

@keyframes blurAnimation {
  from {
    filter: blur(50px);
  }
  to {
    filter: blur(0px); /* The amount of blur you want to apply */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
