.tile {
  float: left;
  display: block;
  animation-name: fadeIn;
  animation-duration: 10s;
}

.outerFullScreen {
  cursor: none;
  overflow: hidden;
  z-index: 20;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.outerNotFullScreen {
  overflow: hidden;
  z-index: 1;
  background-color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
